h1 {
    font-family: $primary-font;
    @include mq(mobile) {
        font-size: 1.5em;
    }
}

h3 {
    margin-top: 0;
    margin-bottom: .15em;
}

h4 {
    font-family: $primary-font;
    margin-top: 0;
    margin-bottom: .15em;
}